body { background-color: #121212; color: #e2e8f0; font-family: 'Segoe UI', sans-serif; padding: 20px; }
#grade-container { display: flex; gap: 15px; overflow-x: auto; padding-bottom: 30px; }
.semestre { min-width: 240px; background: #1e1e1e; padding: 12px; border-radius: 10px; border: 1px solid #333; }
h2 { font-size: 1rem; color: #60a5fa; text-align: center; border-bottom: 1px solid #333; padding-bottom: 5px; }

.materia { 
    padding: 10px; margin: 8px 0; border-radius: 6px; color: #000; 
    font-size: 0.75rem; font-weight: bold; display: flex; justify-content: space-between; align-items: center;
}

/* Legenda Ambiental */
.base { background-color: #f87171; }        /* Vermelho: Cálculo/Física */
.laranja { background-color: #fb923c; }     /* Laranja: Eng/Desenho */
.experimental { background-color: #fbbf24; } /* Amarelo: Lab/Exp */
.azul { background-color: #60a5fa; }        /* Azul: Geologia/Hidro */
.verde { background-color: #4ade80; }       /* Verde: Biologia/Química */
.cinza { background-color: #94a3b8; }       /* Cinza: Humanas/Gestão */
.roxo { background-color: #a78bfa; }        /* Roxo: Estágio/Projeto */

.concluida { opacity: 0.3; filter: grayscale(1); text-decoration: line-through; }
input { cursor: pointer; transform: scale(1.2); }
